<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<properties resource="jdbc.properties" />

	<settings>
		<!-- LOG4J사용설정 -->
		<setting name="logImpl" value="LOG4J" />
		<!-- 카멜 케이스 VO 매핑 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<!-- 쿼리 결과 필드가 null인 경우, 누락이 되서 나오지 않게 설정 -->

		<!-- 쿼리에 보내는 파라미터가 null인 경우, 오류가 발생하는 것 방지 -->

	</settings>
	<typeAliases>
		<typeAlias alias="Student"
			type="com.mybatis3.domain.Student" />
		<typeAlias alias="Address"
			type="com.mybatis3.domain.Address" />
		<typeAlias type="com.mybatis3.domain.Tutor" alias="Tutor" />
		<!-- <package name="com.mybatis3.domain" /> -->
	</typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />

			<dataSource type="POOLED">
				<property name="driver" value="${jdbc.driverClassName}" />
				<property name="url" value="${jdbc.url}" />
				<property name="username" value="${jdbc.username}" />
				<property name="password" value="${jdbc.password}" />
			</dataSource>

			<!-- <dataSource type="POOLED"> <property name="driver" value="oracle.jdbc.OracleDriver" 
				/> <property name="url" value="jdbc:oracle:thin:@124.198.47.195:1521:XE" 
				/> <property name="username" value="jdeveloper30" /> <property name="password" 
				value="jdeveloper30" /> </dataSource> -->
		</environment>
	</environments>
	<mappers>
		<mapper class="com.mybatis3.dao.mapper.StudentBasicMapper"/>
		<mapper class="com.mybatis3.dao.mapper.StudentMapper"/>
		<mapper resource="com/mybatis3/dao/mapper/AddressMapper.xml"/>

	</mappers>
</configuration>